/* code by Nicholas Kinard - CSCE 242 Section 001 */

/* Structure */
body {
    background: url(images/background.jpg);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content{
    background-color: #F2B199;
    color: #384001;
    width: 70%;
    margin:auto;
    padding: 5px;
    border-radius:5px;
}