/* Structure */
body {
    font-family:Arial, Helvetica, sans-serif;
}

/* Header */

header {
    border: 1px solid black;
}

/* body */

body {
    border: 1px solid black;
}

/* Main Navigation */
#main-nav ul{
    padding-left: 0;
}

#main-nav li {
    list-style-type: none; /* remove the bullets*/
    padding-top: 5px;
}

#main-nav a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

#main-nav a:hover{
    color: lightblue;
    border-bottom: 1px solid white;
}

/* Larger Resolutions */
@media (min-width: 768px) {

    #main-nav ul {
        display:flex;
        justify-content:space-evenly;
    }

    .header-logo {
        display: flex;
    }

    .header-logo h1 {
        padding-left: 10px;
        padding-top: 20px;
    }

}
