/* Structure */
:root {
    --main-background-color:white;
    --homepage-block-color: #808080;
    --main-nav-font-color: black;
    --main-nav-fonthover-color: #ADD8E6; 
    --borders-color: black;
    --primary-font-color: black;
    --secondary-font-color: #ADD8E6;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

/* Header */
header {
}

/* body */

body {
}

/* main page body */

.image-slider {
    border: 1px solid var(--borders-color);
}

.image-slider img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 60%;
    object-fit: fill;
}

.homepage-block {
    border: 1px solid var(--borders-color);
}

.homepage-block {
    text-align: center;
    background-color: var(--homepage-block-color);
    border-radius: 10px;
    margin-top: 30px;
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homepage-block img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.homepage-block a {
    text-decoration: none;
    color: var(--primary-font-color);
}

.homepage-block a:hover {
    color: var(--secondary-font-color);
}

.mainpage-paragraph-box, .mainpage-list-box {
    margin: 10px;
}

.mainpage-list-box {
    padding: 5px;
    border: 1px solid var(--borders-color);
}

.mainpage-list-box h3 {
    padding-left: 25px;
}

.mainpage-list-box ul {
    padding-left: 25px;
}

.mainpage-list-box li {
    list-style-type: none;
    padding: 10px;
}

/* Guide Page */
.guidepage-image img{
    margin-top: 30px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

/* Main Navigation */
#main-nav ul{
    padding-left: 0;
}

#main-nav li {
    list-style-type: none; /* remove the bullets*/
    padding-top: 5px;
}

#main-nav a {
    color: var(--main-nav-font-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

#main-nav a:hover{
    color: var(--main-nav-fonthover-color);
}

/* Typography */
.mainpage-paragraph-box p {
    font-size: 20px;
}

/* Larger Resolutions */
@media (min-width: 768px) {

    .f-container {
        display:flex;
    }

    #main-nav ul {
        display:flex;
        justify-content:space-evenly;
    }

    .header-logo {
        display: flex;
    }

    .header-logo h1 {
        padding-left: 10px;
        padding-top: 20px;
    }

    .homepage-block {
        text-align: center;
        flex:25%;
        flex-grow: 0;
        flex-basis: 25%;
        margin-right: 30px;
        margin-left: 30px;
    }

    .homepage-block img {
        width: 100%;
        height: 60%;
        object-fit: fill;
    }

    .mainpage-paragraph-box {
        flex: 60%;
    }

    .mainpage-list-box {
        flex: 40%;
    }   

    .guide-images {
        display: flex;
        flex-wrap: wrap;
    }

    .guidepage-image {
        text-align: center;
        flex:25%;
        flex-grow: 0;
        flex-basis: 25%;
        margin-right: 30px;
        margin-left: 30px;
    }

}
