/* code by Nicholas Kinard - CSCE 242 Section 001 */

/* Structure */
body {
    background-color:#F2E8DF;
}

#content {
    background-color: #75A3BF;
    color: #F2E8DF;
    width: 90%;
    margin:auto;
    padding: 5px;
    border: 1px solid #25261A;
    border-radius:5px;
}

header, footer {
    background-color: #737166;
    color: #F2E8DF;
    text-align:center;
    padding: 5px;
}

.column {
    text-align: center;
    justify-content: space-evenly;
}

#assignments h2, #project h2 {
    text-align: center;
}

.assignment-block, .project-block {
    background-color: #737166;
    padding:5px;
    margin: 20px;
    border:2px solid #F2E8DF;
    border-radius:5px; 
    margin-top:25px;
}

.assignment-block img, .project-block img {
    margin:5px;
    border:2px solid #F2E8DF;
}

.assignment-block a, .project-block a {
    color: #F2E8DF;
    text-decoration: none;
}

.assignment-block a:hover, .project-block a:hover {
    color: #F2D888;
    border-bottom: 1px solid #F2D888;
}

/* Typography */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1{
    text-align: center;
}

footer p{
    text-align: center;
}

/* Larger Resolutions */
@media (min-width: 1025px) { 
    .column {  
        display: flex;
        flex-wrap: wrap;
    }

    #main-header h2 {
        text-align:left;
        position:relative;
        bottom:85px;
    }

    .assignment-block, .project-block{
        flex:1;
        flex-grow:0;
        flex-basis:25%;
    }
}