/* code by Nicholas Kinard - CSCE 242 Section 001 */

/* Structure */
body {
    background-color:#F2E8DF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
    background-color: #75A3BF;
    color: #F2E8DF;
    width: 90%;
    margin:auto;
    padding: 5px;
    border: 1px solid #25261A;
    border-radius:5px;
}

header, footer {
    background-color: #737166;
    color: #F2E8DF;
    text-align:center;
    padding: 5px;
}

.flex-container, .column {
    text-align: center;
}

.column {
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    background-color: #737166;
}

/* Work List */
#work-list h2 {
    text-align: center;
}

#work-list ul{
    padding-left: 0;
}

#work-list li{
    list-style-type: none;
}

#work-list a{
    color: #F2E8DF;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

#work-list a:hover{
    color: #F2D888;
    border-bottom: 1px solid #F2D888;
}

/* Typography */
header h1{
    text-align: center;
}

footer p{
    text-align: center;
}

/* Larger Resolutions */
@media (min-width: 900px) {
    #main-nav ul, 
    .flex-container {
        display: flex;
    }

    #main-nav li, .column {
        flex: 1;  
    }

    #main-header h2 {
        position: relative;
        bottom: 90px;
        text-align:left;
    }

    #main-header p {
        position: relative;
        bottom: 60px;
        margin-bottom: -30px;
    }
}