/* code by Nicholas Kinard - CSCE 242 Section 001 */
/* Structure */
body{
    background-color: blanchedalmond;
    border:2px solid #A4BFB8;
    margin:0%;
}

#content {
    background-color: blanchedalmond;
    margin:auto;
    width: 100%;
}

#main-header {
    color:teal;
}

#main-content {
    background-color: blanchedalmond;
}

#main-content h2 {
    margin: auto;
    width: 80%;
}

.flex-container {
    display:flex;
    flex-wrap: wrap;
} 

.section-style-1 {
    margin: auto;
    width: 80%;
    background-color:teal;  
}

.section-style-2 {
    margin: auto;
    width: 80%;
    background-color: lightcoral;
}

.section-style-1 img, .section-style-2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;   
}

.column1 {
    background-color: teal;
    margin: 0;
    width: 100%;
}

#main-footer {
    background-color: blanchedalmond;
    padding: 5px;
}

/* Navigation */
#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    background-color: lightcoral;
    border: 1px solid teal;
}

#main-nav a {
    text-decoration: none;
    color: white;
}

/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif
}

#main-header h1{
    text-align:center;
}

#main-content h2 {
    padding: 5px;
    color: teal;
}

#main-footer p{
    text-align: center;
    color: teal;
}

#main-nav {
    text-align: center;
}

.section-style-1 h3, p {
    color: blanchedalmond;
    padding: 5px;
}

.section-style-2 h3, p {
    color: blanchedalmond;
    padding: 5px;
}

.column1 {
    text-align: center;
}

.column1 h3, p{
    color: white;
    padding: 5px;
}

.column1 img {
    text-align: center;
}

/* Larger Resolutions */
@media (min-width: 900px) {

    #main-nav ul {
        display: flex;
    }

    #main-nav li {
        flex: 1;
    }

    .flex-container {
        display:flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .section-style-1, .section-style-2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .section-style-1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .text-1, .text-2{
        flex: 1;
    }

    .column1 { 
        flex: 1;   
        padding:10px;
    }
}
